.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  transition: background 0.3s ease, color 0.3s ease;
  font-family: FiraGO;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  border: none;
  width: 88px;
  height: 24px;
  top: 20px;
  left: 20px;
  border-radius: 15px;
  padding-top: 5px;
  padding-right: 9px;
  padding-bottom: 5px;
  padding-left: 9px;
  gap: 10px;
  cursor: pointer;
  color: #ffffff;
}

.red {
  background-color: #fa4d4d;
}

.green {
  background-color: #08a508;
}

.blue {
  background-color: rgba(137, 182, 255, 1);
}

.yellow {
  background-color: rgba(255, 216, 109, 1);
}

.purple {
  background-color: rgba(131, 56, 236, 1);
}

.orange {
  background-color: rgba(253, 154, 106, 1);
}

.gray {
  background-color: #9e9e9e;
}
