@import "../../../colors.scss";
.button {
  width: 228px;
  height: 20px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  gap: 9.5px;
  // an4px
  background-color: $primaryColor;
  font-family: FiraGO;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: $white;
  cursor: pointer;
}
.button:hover {
  background-color: $secondaryColor;
  animation-timing-function: ease-out;
  animation-duration: 300ms;
}

.button p{
  text-align: center;
  align-items: center;
  margin: 0;
}