.inputContainer {
  display: flex;
  flex-direction: column;

  label {
    font-family: FiraGO;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    margin-bottom: 8px;
  }
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  input {
    width: 378px;
    height: 42px;
    border-radius: 6px;
    border: 1px solid #ccc; // default ნაცრისფერი
    outline: none;
    transition: 0.3s;
    padding: 0 10px;
  }

  .valid {
    border-color: green;
  }

  .invalid {
    border-color: red;
  }
}

.validation {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 12px;
  margin-top: 5px;
}

.validationItem {
  display: flex;
  align-items: center;
  gap: 5px;

  img {
    width: 16px;
    height: 16px;
  }
}
