.container{
    max-width: 1920px;
    margin: 0 auto;
    margin-left: 127px;
    margin-right: 127px;
}
.form{
    background-color: #FBF9FFA6;
    padding: 65px 55px;
    display: flex;
    gap: 161px;
}
.label{
    font-family: FiraGO;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color : #343A40;
}
.inputGroup{
    margin-top: 55px;
}
.pr{
    margin-top: 55px;
    display: flex;
    gap: 32px;
}
.RinputGroup{
    margin-top: 93px;
}
.button{
    margin-top: 145px;
    margin-left: 340px;
}
.heading{
    margin-top: 40px;
}