@import "../../colors.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-left: 120px;
  margin-right: 120px;
}

.taskGrid {
  display: flex;
  justify-content: center;
  gap: 55px;
}

.taskColumn {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.task {
  width: 340px;
  height: 177px;
  border-radius: 15px;
  padding: 20px;
  background-color: $white;
  border: 1px solid rgba(206, 212, 218, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.head,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 10px;
}

.date {
  font-family: FiraGO;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: black;
}

.middle {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.middle h2 {
  font-family: FiraGO;
  font-weight: 500;
  font-size: 15px;
  color: $textColor;
}

.middle p {
  font-family: FiraGO;
  font-weight: 400;
  font-size: 14px;
  color: $textColor;
}

.comments {
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: FiraGO;
  font-weight: 400;
  font-size: 14px;
  color: $textColor;
}
.emptyColumn {
  width: 381px;
}
.yellow {
  border-color: $yellow;
}

.red {
  border-color: $red;
}

.pink {
  border-color: $pink;
}

.blue {
  border-color: $blue;
}
