$primaryColor: #8338ec;
$secondaryColor: #b588f4;
$textColor: #212529;
$white: #ffffff;
$designButtonColor: #ff66a8;
$itButtonColor: #ffd86d;
$MarketingButtonColor: #fd9a6a;
$logisticsButtonColor: #89b6ff;
$userNameColor: #0d0f10;
$userBackgroundColor: #f8f9fa;
$red: #fa4d4d;
$green: #08a508;
$yellow: #ffbe0b;
$pink: rgba(255, 102, 168, 1);
$blue: rgba(137, 182, 255, 1);
$orange: rgba(253, 154, 106, 1);
$yellow: rgba(255, 216, 109, 1);
$purple: rgba(131, 56, 236, 1);
