$primaryColor: #8338ec;
$secondaryColor: #b588f4;
$textColor: #212529;
$white: #ffffff;
$designButtonColor: #ff66a8;
$itButtonColor: #ffd86d;
$MarketingButtonColor: #fd9a6a;
$logisticsButtonColor: #89b6ff;
$userNameColor: #0d0f10;
$userBackgroundColor: #f8f9fa;
$red: #fa4d4d;
$green: #08a508;
$yellow: #ffbe0b;
