@import "../../app/colors.scss";

.header {
  width: 1680;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 120px;
  // background-color: $white;
}
.buttons {
  display: flex;
  gap: 40px;
}
.momentum {
  display: flex;
  align-items: center;
  font-family: Fredoka One;
  font-weight: 400;
  font-size: 31px;
  line-height: 100%;
  letter-spacing: 0%;
  color: $primaryColor;
}
