@import "../../colors.scss";
.header-wrapper {
    display: flex;
    gap: 52px; 
    align-items: center;  
    justify-content: center;  
    margin-top: 175px;  
}
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 381px;
    height: 54px;
    border-radius: 10px;
    text-align: center;
    font-family: FiraGO;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: $white;
  }
  
  .yellow {
    background-color: $yellow;
  }
  
  .red {
    background-color: $red;
  }
  
  .pink {
    background-color: $pink;
  }
  
  .blue {
    background-color: $blue;
  }
  