.dropdown {
  position: absolute;
  width: 688px;
  background-color: white;
  height: 48px;
  // top: 233px;
  left: 120px;
  border-radius: 10px;
  border: 1px solid rgba(131, 56, 236, 1);
  display: flex;
  align-items: center;
}

.dropdownMenu {
  position: absolute;
  top: calc(100% + 11px);
  left: 0;
  width: 648px;
  border: 1px solid rgba(131, 56, 236, 1);
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.selects {
  display: flex;
  width: 688px;
  justify-content: space-between;
  padding-right: 20px;
  align-items: center;
  gap: 45px;
}

.select {
  display: flex;
  padding: 12px;
  gap: 8px;
  color: black;
  font-family: FiraGO;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  align-items: center;
}

.selected {
  color: rgba(131, 56, 236, 1);
}

.selected img {
  rotate: 180deg;
  filter: invert(33%) sepia(131%) saturate(828%) hue-rotate(230deg)
    brightness(90%) contrast(95%);
}

.checkbox {
  display: flex;
  gap: 8px;
  align-items: center;
  color: black;
}

.checkbox input {
  width: 18px;
  height: 18px;
  border: 1px solid #212529;

  background-color: white;
  border-radius: 4px;
  appearance: none;
  transition: all 0.3s ease;
  position: relative;
}

.checkbox input:checked {
  background-color: white;
  border: 1px solid #212529;
  box-shadow: 0 0 0 2px rgba(131, 56, 236, 0.3);
}

.checkbox input:checked::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/asserts/Vector.svg");
  background-size: 11px 8px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
}

.checkbox label {
  font-family: FiraGO;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
}
.selectButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 10;
}
